section.content.info
  .wrap
    .content-body
      h1 О проекте
      p Примечательно, что я уже было закончил эту статью, как свет в квартире мигнул. Ну и комп, разумеется, вырубился. Не сохранился весь первоначальный текст. «Судьба» - подумал я, и продолжил заниматься своим любимым делом. Ничем.
      p Но порассуждать об абсурде все же следует. Вы когда-нибудь поливали кетчупом печенье в шоколадной глазури, чтобы потом съесть? Пропробуйте обязательно. Не сказать, что это невероятно вкусно, но это достаточно смешно. Да, смешно. А с чего вы решили что юмор может быть только в словах, гримасах, или действиях? Эту странную консистенцию можно передать и через вкус.
      .content__image
        img(src="assets/images/content-3.jpg")
        p Здесь могли быть печеньки с кетчупом.
      h4 И вот вы обрадовались этой мысли, о печении с кетчупом, хоть вы и не прочли еще эту статью, как вдруг чертыхаетесь, ушибая жопу о гололед.
      p Хочется разозлиться и проклинать службы, которые должны заботиться о пригодности дорог для передвижения. Но это вам сил не придаст, там уже давно никто не работает, ведь на зарплату, получаемую в здешних службах, едва хватит на кубик галоперидола, который потребуется в нейтрализации буйного помешательства в обвинении других служб и поиске еще пары сотен виноватых во всеобщей разрухе. Хотя нет, не потребуется галоперидол покупать. Его ведь и не купить в аптеке, на сколько я знаю. Так бы уже закупился, хотя и не дворник.Хороче хуй, что на эту зарплату купишь.
      p Так вот. Вы на холодном гололеде, жопа мокреет, ведь на льду еще и снег. А снег коричневый, перемешанный с грязью . Мерзко. Казалось бы позитивный настрой уже потерян, и не чем его уже не вернуть. Но ведь у вас под боком столовая. Идите туда, закажите дешевого кофе, две порции сахара и майонеза. Не будет майонеза – возьмите сметаны. Но ни в коем случае не берите сливок. Оставьте это декаданство всяким мажорикам с Рублевки, которые могут приободрить себя сжиганием денег в собственном камине. Ну как? Не вкусно? ЧТОО? Не смешно? Ну право, я тогда и не знаю, как вы вообще еще в России живете. Хорошо, тогда вот тебе следующий план действий.
      p Приходишь домой. Делаешь печенье с кетчупом. Пробуешь. Если тоска очень сильна, то это совершенно не насмешит тебя. Но безвыходных ситуаций не бывает. Хотя нет … бывает. Врубай ютуб, короче говоря, деградируй, а потом делай массовый контент.
      .content__image
        img(src="assets/images/content-5.jpg")
        p Рассеянская тоска.
      bloquote Приходишь домой. Делаешь <a href="https://www.edimdoma.ru/retsepty/117236-syrnoe-pechenie-s-ketchupom">печенье с кетчупом.</a> Пробуешь. Если тоска очень сильна, то это совершенно не насмешит тебя. Но безвыходных ситуаций не бывает. Хотя нет … бывает. Врубай ютуб, короче говоря, деградируй, а потом делай массовый контент.
      p И вот ты уже на гребне финансовой волны и успешно рекламируешь северокорейские ресторанчики. Еще бы, ведь ты предлагаешь скидку в по промокоду «Сельское Ким Ир Сено». Рекламируешь ноутбуки, китайские телефоны. Все в ажуре. Но вот с головой что-то не так, и общаться уже можешь только с туповатыми школьниками. Что делать. Жди зимы? Благо гололед будет все там же. Да и везде подскальзываешься. Мочишь жопу. И умираешь…. Нет, это из другой оперы. Ломаешь таз. Идешь в магазин хозяйственных товаров. И теперь у тебя новый таз. Браво. Так, а что с мозгами-то?
      p Впрочем остаться безмозглым в наше время уже совершенно не страшно. Главное волосы в микроволновой печи не сушить, а так можно дожить и до глубокой старости. А там счастливый маразм, в который врывается Сталин. С репрессиями, прикольной архитектурой и пропагандой. Сталин для тебя будет хорош, потому что в маразме Сталин хорош всегда.
      p Похоже что я разрисовал жизнь одного среднестатистического человека. Или он саким среднестатистическим стал из-за моих советов. Вероятно. А может и нет. А может селедка малопросоленная оказалась, и водка из желудка просится наружу вместе с чебупелями по акции.
      bloquote Кто знает. Все относительно, абсолютной истинны нет, никто не назовет себя злодеем, все мнят себя добром.
      h2 А вообще-то смысл в движении к противоположности.
      p Вот стал ты успешным ютьюбером, таз себе обновил. Но рано или поздо захочется спать. Раскладываешь диван, укрываешься одеялом и погружаешься в сон. А во сне же всегда дичь какая-то. И что делать. Абсурдом себя уже не приободришь, не развеселишь. Тут и без того бродишь по центре Петербурга и слушаешь какую-то чушь про грядущий апокалипсис,какие-то конспирологические теории несусветные слушаешь. Поворачиваешь голову. А с тобой сам Николас Кейдж. Невольно вспоминаешь добрый процент фильмов с ним и понимаешь, что сейчас будет второсортная мистика. И да мистика случается, но видит ее только дружище Николас и убегает выискивать криптограммы святого грааля к бичам на Владимирской площади.
      p Два часа дня, тепло. И ночь настает и опять день. И снова ночь. Цикл дня, видать, ускорился, и в сутках теперь не 24 часа, но 6 секунд. Смотришь на верх. Солнечный шарик выйдя из-за одного здания сразу же оказывается за следущим. Огибает дугу, будто камень, летящий в чье-то окно. Окно разбивается. Из окна глядит разъяренная женщина:
      ul
        li Тебе чего
        li А Димка выйдет погулять
        li Дима назаработки пошел, чтобы стекло новое купить
        li Пусть мячик вынесет
        li Никакого мячика, пока Николас Кейдж обратно в свой пиндостан не уберется
      p Ты все на той же площади и видишь, что на небе появляются планеты. Все синие, как медный купорос. И вращаются в каком-то космическом танце и солнце все быстрее и быстрее огибает землю. И уже пофиг на тот факт, что земля огибает Солнце. Как-то паникуешь, бежишь к Николасу и говоришь ему
      ul
        li Николас, помоги!
      p Но у Николаса уже появляется хромосома православия, он покупает себе поддержанную шестерку, и уезжает, бустив вонючий клубок дыма. А перед этим еще и на <span>заднее стекло наклеил «1941-1945. Можем повторить».</span> Ебааать, хочется проснуться и съесть тонну печенюшек с кетчупом.
      p Просыпаешься в холодном поту и понимаешь «Как прекрасно, что я могу быть абсурднее мира».
